In [16]:
import pandas as pd
import numpy as np

df = pd.read_csv("adult.data.csv")

In [18]:
pyt

10.0

In [14]:
df[(df["salary"] == ">50K") & (df["native-country"] == "India")]["occupation"].value_counts().idxmax()

'Prof-specialty'

In [13]:
round(len(df[(df["education"].isin(["Bachelors", "Masters", "Doctorate"])) & (df["salary"] == ">50K")]) * 100 / df["education"].isin(["Bachelors", "Masters", "Doctorate"]).sum(), 2)

46.54

In [33]:
proporcion_salario = df[df["salary"] == ">50k"].groupby("native-country").size() / df["native-country"].value_counts()

In [34]:
proporcion_salario

United-States                NaN
Mexico                       NaN
?                            NaN
Philippines                  NaN
Germany                      NaN
Canada                       NaN
Puerto-Rico                  NaN
El-Salvador                  NaN
India                        NaN
Cuba                         NaN
England                      NaN
Jamaica                      NaN
South                        NaN
China                        NaN
Italy                        NaN
Dominican-Republic           NaN
Vietnam                      NaN
Guatemala                    NaN
Japan                        NaN
Poland                       NaN
Columbia                     NaN
Taiwan                       NaN
Haiti                        NaN
Iran                         NaN
Portugal                     NaN
Nicaragua                    NaN
Peru                         NaN
France                       NaN
Greece                       NaN
Ecuador                      NaN
Ireland                      NaN
Hong                         NaN
Cambodia                     NaN
Trinadad&Tobago              NaN
Laos                         NaN
Thailand                     NaN
Yugoslavia                   NaN
Outlying-US(Guam-USVI-etc)   NaN
Honduras                     NaN
Hungary                      NaN
Scotland                     NaN
Holand-Netherlands           NaN
dtype: float64

In [45]:
(df[df["salary"] == ">50K"]["native-country"].value_counts()/ df["native-country"].value_counts()).idxmax()

'Iran'

In [15]:
round((df[(df["hours-per-week"] == df["hours-per-week"].min()) & (df["salary"] == ">50K")].shape[0] * 100) / len(df(df["hours-per-week"] == df["hours-per-week"].min())),1)

TypeError: 'DataFrame' object is not callable

In [46]:
round((df[df["salary"] == ">50K"]["native-country"].value_counts().max() * 100) / len(df),1)

22.0

In [15]:
df_censo["salary"].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [13]:
import matplotlib.pyplot as plt
age_counts = df_censo["age"].value_counts().sort_index()

# Plotting the frequency of each age
plt.plot(age_counts.index, age_counts.values)
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Age Frequency in df_censo')
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
import

In [ ]:
df_censo = df_censo.drop(columns=["fnlwgt", "education-num"])